@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  height: 100vh;
}

main header {
  width: 100%;
}

#active {
  position: relative;
}

#active::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #9733EE;
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 1;
}

nav {
  width: 100%;
  padding: 3rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul img {
  width: 6.5rem;
  height: 6.5rem;
}

nav ul:first-child {
  width: 154px;
}

nav ul:first-child li {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  color: #002A3F;
}

nav ul:last-child {
  width: 50%;
}

nav ul:last-child li {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 1.4rem;
}

nav ul:last-child li a {
  color: #002A3F;
}

nav ul:last-child li:hover a {
  color: #9733EE;
  -webkit-transition: .2s;
  transition: .2s;
}

.hero {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.hero div {
  width: 81.4rem;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hero div h1 {
  font-family: 'DM Sans';
  font-weight: 600;
  font-size: 7.2rem;
  text-align: center;
  color: #18191F;
  padding-bottom: 2rem;
}

.hero div h1 span {
  color: #c27dff;
}

.hero div p {
  width: 50%;
  font-family: 'DM Sans';
  font-weight: 600;
  font-size: 1.8rem;
  color: #7d7d7d;
  text-align: center;
  padding-bottom: 4rem;
}

.hero div p::after {
  content: "";
  width: 6rem;
  height: 6rem;
  position: absolute;
  bottom: -30%;
  left: 20%;
  background: url(../images/xlsx.svg) center center no-repeat;
  background-size: contain;
  z-index: -1;
  -webkit-animation: float 5s linear infinite;
          animation: float 5s linear infinite;
}

.hero div p::before {
  content: "";
  width: 6rem;
  height: 6rem;
  position: absolute;
  bottom: -30%;
  right: -10%;
  background: url(../images/png.svg) center center no-repeat;
  background-size: contain;
  z-index: -1;
  -webkit-animation: float 4s linear infinite;
          animation: float 4s linear infinite;
}

.hero div button {
  padding: 1.2rem 3.2rem;
  border: none;
  background: #9733EE;
  border-radius: .6rem;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.6rem;
  color: #FFFFFF;
  cursor: pointer;
}

.hero div button:hover {
  background: #862bd6;
}

.hero div::after {
  content: "";
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 40%;
  left: -30%;
  background: url(../images/text.svg) center center no-repeat;
  background-size: contain;
  z-index: -1;
  -webkit-animation: float 2s linear infinite;
          animation: float 2s linear infinite;
}

.hero div::before {
  content: "";
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 35%;
  right: -20%;
  background: url(../images/pdf.svg) center center no-repeat;
  background-size: contain;
  z-index: -1;
  -webkit-animation: float 3s linear infinite;
          animation: float 3s linear infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.hero .component-1 {
  width: 60rem;
  height: 60rem;
  background: url("../images/component-1.svg") center center no-repeat;
  background-size: contain;
  position: absolute;
  right: -15%;
  top: -25%;
  z-index: -1;
}

.hero .component-2 {
  width: 55rem;
  height: 55rem;
  background: url("../images/component-2.svg") center center no-repeat;
  background-size: contain;
  position: absolute;
  left: -2%;
  bottom: -36%;
  z-index: -1;
}

.hero .component-3 {
  width: 50rem;
  height: 50rem;
  background: url("../images/component-3.svg") center center no-repeat;
  background-size: contain;
  position: absolute;
  left: -10%;
  bottom: -10%;
  z-index: -2;
}

.hero .component-4 {
  width: 100rem;
  height: 100rem;
  background: url("../images/component-4.svg") center center no-repeat;
  background-size: contain;
  position: absolute;
  right: -30%;
  bottom: -75%;
  z-index: -1;
}

.hero .component-5 {
  width: 100rem;
  height: 100rem;
  background: url("../images/component-4.svg") center center no-repeat;
  background-size: contain;
  position: absolute;
  left: -40%;
  top: -75%;
  z-index: -1;
}

.signup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 100vh;
  background: linear-gradient(106.32deg, rgba(0, 0, 0, 0.34) 0%, rgba(0, 0, 0, 0.34) 100%);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  display: none;
  place-items: center;
}

.signup form {
  width: 50.1rem;
  background-color: white;
  -webkit-box-shadow: 9.39709px 25.3119px 63px rgba(0, 0, 0, 0.01);
          box-shadow: 9.39709px 25.3119px 63px rgba(0, 0, 0, 0.01);
  border-radius: 2rem;
  padding: 3.3rem 3.4rem;
}

.signup form h3 {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 3.2rem;
  text-align: center;
  padding-bottom: 4.6rem;
}

.signup form p {
  position: relative;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 1.4rem;
  color: black;
  padding-bottom: .2rem;
}

.signup form p #usericon {
  position: absolute;
  font-size: 3rem;
  bottom: -40px;
  left: 15px;
  color: #9C9C9C;
}

.signup form p #showpassword, .signup form p #loader {
  position: absolute;
  font-size: 3rem;
  bottom: -42px;
  right: 15px;
  color: #9C9C9C;
  cursor: pointer;
}

.signup form p #loader {
  bottom: -37px;
  display: none;
  font-size: 1.8rem;
}

.signup form p #generate {
  position: absolute;
  right: 0;
  top: -5px;
  cursor: pointer;
  background-color: #e7e7e7;
  color: #636363;
  padding: 2px 10px;
  border-radius: 2px;
  border: none;
}

.signup form p #generate:activeshow {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.signup form pre {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 1.2rem;
  position: absolute;
  -webkit-transform: translateY(-26px);
          transform: translateY(-26px);
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup form input[type=text], .signup form input[type=password], .signup form input[type=submit], .signup form input[type=email] {
  width: 100%;
  margin-bottom: 3rem;
  padding: 1.5rem 4rem 1.5rem 6rem;
  outline: none;
  border: 2px solid #BABABA;
  border-radius: .4rem;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 1.6rem;
}

.signup form input[type=text]:focus, .signup form input[type=password]:focus, .signup form input[type=submit]:focus, .signup form input[type=email]:focus {
  border: 2px solid #7d28c8;
}

.signup form input[type=text]:focus #usericon {
  color: #7d28c8 !important;
}

.signup form input[type=submit] {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.9rem;
  padding: 1.5rem 0rem;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 4px;
}

.signup form input[type=submit]:hover {
  background-color: #7d28c8 !important;
  -webkit-box-shadow: 5.5303px 12.8614px 27px rgba(0, 0, 0, 0.31);
          box-shadow: 5.5303px 12.8614px 27px rgba(0, 0, 0, 0.31);
}

.signup form input[type=submit]:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 6.25331px 7.8036px 34px rgba(0, 0, 0, 0.2);
          box-shadow: 6.25331px 7.8036px 34px rgba(0, 0, 0, 0.2);
  -webkit-transition: .01s;
  transition: .01s;
}

.signup form a {
  width: 100%;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
}

.signup #form2 {
  display: none;
  width: 50.1rem;
  background-color: white;
  -webkit-box-shadow: 9.39709px 25.3119px 63px rgba(0, 0, 0, 0.01);
          box-shadow: 9.39709px 25.3119px 63px rgba(0, 0, 0, 0.01);
  border-radius: 2rem;
  padding: 3.3rem 3.4rem;
}

.signup #form2 h3 {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 3.2rem;
  text-align: center;
  padding-bottom: 6.5rem;
}

.signup #form2 p {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 1.8rem;
  color: #858585;
  padding-bottom: .63rem;
}

.signup #form2 h4 {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  padding-bottom: 3.38rem;
}

.signup #form2 #otp_input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signup #form2 #otp_input .code {
  width: 8rem;
  height: 8rem;
  border: none;
  border-radius: .5rem;
  background: #ECE8F0;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 3.2rem;
  text-align: center;
}

.signup #form2 #otp_input .code:focus {
  outline: 2px solid #9733EE;
}

.signup #form2 #otp_input input[type=number]::-webkit-inner-spin-button,
.signup #form2 #otp_input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.signup #form2 h5 {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2.1rem;
}

.signup #form2 button {
  width: 100%;
  border-radius: .4rem;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.9rem;
  padding: 1.5rem 0rem;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  background-color: #9733EE;
}

.signup #form2 button:hover {
  background-color: #7d28c8 !important;
  -webkit-box-shadow: 5.5303px 12.8614px 27px rgba(0, 0, 0, 0.31);
          box-shadow: 5.5303px 12.8614px 27px rgba(0, 0, 0, 0.31);
}

.signup #form2 button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 6.25331px 7.8036px 34px rgba(0, 0, 0, 0.2);
          box-shadow: 6.25331px 7.8036px 34px rgba(0, 0, 0, 0.2);
  -webkit-transition: .01s;
  transition: .01s;
}

.login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 100vh;
  background: linear-gradient(106.32deg, rgba(0, 0, 0, 0.34) 0%, rgba(0, 0, 0, 0.34) 100%);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  display: none;
  place-items: center;
}

.login form {
  width: 50.1rem;
  background-color: white;
  -webkit-box-shadow: 9.39709px 25.3119px 63px rgba(0, 0, 0, 0.01);
          box-shadow: 9.39709px 25.3119px 63px rgba(0, 0, 0, 0.01);
  border-radius: 2rem;
  padding: 3.3rem 3.4rem;
}

.login form h3 {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 3.2rem;
  text-align: center;
  padding-bottom: 4.6rem;
}

.login form p {
  position: relative;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 1.4rem;
  color: black;
  padding-bottom: .2rem;
}

.login form p #usericon {
  position: absolute;
  font-size: 3rem;
  bottom: -40px;
  left: 15px;
  color: #9C9C9C;
}

.login form p #showpassword {
  position: absolute;
  font-size: 3rem;
  bottom: -42px;
  right: 15px;
  color: #9C9C9C;
}

.login form pre {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 1.2rem;
  position: absolute;
  -webkit-transform: translateY(-26px);
          transform: translateY(-26px);
  z-index: 4;
}

.login form input[type=email], .login form input[type=password], .login form input[type=submit] {
  width: 100%;
  margin-bottom: 3rem;
  padding: 1.5rem 1.5rem 1.5rem 6rem;
  outline: none;
  border: 1px solid #BABABA;
  border-radius: .4rem;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 1.6rem;
}

.login form input[type=submit] {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.9rem;
  padding: 1.5rem 0rem;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 4px;
}

.login form input[type=submit]:hover {
  background-color: #7d28c8 !important;
  -webkit-box-shadow: 5.5303px 12.8614px 27px rgba(0, 0, 0, 0.31);
          box-shadow: 5.5303px 12.8614px 27px rgba(0, 0, 0, 0.31);
}

.login form input[type=submit]:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 6.25331px 7.8036px 34px rgba(0, 0, 0, 0.2);
          box-shadow: 6.25331px 7.8036px 34px rgba(0, 0, 0, 0.2);
  -webkit-transition: .01s;
  transition: .01s;
}

.login form a {
  width: 100%;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
}

@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 998px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 35%;
  }
}

#loading {
  position: absolute;
  z-index: 4;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: none;
}

.lds-ellipsis,
.lds-ellipsis div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: white;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
/*# sourceMappingURL=home.css.map */